{% extends 'main.html' %}
{% block title %}Create Products {% endblock %}
{% block content %}
 <div class="row">
  <div class="row">
        <div class="d-flex align-items-stretch">
            <div class="card w-100">
                <div class="card-body">
                    <h5 class="mb-3">Update product</h5>
                    <form method="post" action="{% url 'products:update_product' product.id %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control"
                                     value="{{ product.name }}" id="tb-fname" name="name"
                                           placeholder="Enter Name here">
                                    <label for="tb-fname">Name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <input type="number" class="form-control" value="{{ product.price }}" id="tb-email" name="price"
                                           placeholder="0.00">
                                    <label for="tb-email">Price</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <input type="number" class="form-control"  value="{{ product.quantity}}" id="tb-pwd" name="quantity"
                                           placeholder="Password">
                                    <label for="tb-pwd">Quantity</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3">

                                    {% if product.cover %}
                                    <img src="{{product.cover.url}}"  height="100" width="100" alt="{{ product.name }}"  />
                                    {% else %}
                                    <img src="https://pic.onlinewebfonts.com/thumbnails/icons_148071.svg" height="100" width="100" alt="{{ product.name }}" />
                                    {% endif %}
                                    <input type="file" class="form-control"  id="tb-cpwd" name="cover">
                                    <label for="tb-cpwd">Cover</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-floating mb-3">
                                    <textarea class="form-control" id="tb-detail" name="description" cols="30"
                                              rows="10">{{ product.description }}</textarea>
                                    <label for="tb-detail">Description</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="d-md-flex align-items-center">
                                    <div class="ms-auto mt-3 mt-md-0">
                                        <button type="submit" class="btn btn-primary font-medium rounded-pill px-4">
                                            <div class="d-flex align-items-center">
                                                <i class="ti ti-send me-2 fs-4"></i>
                                                Update
                                            </div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
 </div>
{% endblock %}